{% extends 'rv60app/base.html'%}

{% load static  %}

{% block content %}

<h1>Doctrinas</h1>
<form action="">
    <input type="text" name="busca_doctrina">
    <button type="submit">
        Buscar Doctrina
    </button>
</form>
<br>
<table class="table table-striped">
    <tr>
    <th>Doctrina</th>
    <th>Descripcion</th>
    </tr>
{% for x in doctrinas %}
    <tr>
    <td>
    
    <a href="{% url "doctrina_detail"  x.id%}">{{x.titulo}}</a>
        
    </td><td>
    {{x.maintexto}} 
    </td>
    </tr>
{% endfor%}
</table>
{% endblock content %}

